<!DOCTYPE html>
<html>

<head>
    <title>Docker Python Flask App</title>
    <style>
        body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 40px;
        }
        
        h1 {
            background-color: blue;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Hello From Flask</h1>
    <p>This application run inside a docker container</p>
    <p>My first container project using docker</p>
</body>

</html>